//fuentes
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Spartan', sans-serif;

$xxx-large-font: 2.5rem;
$xx-large-font: 1.75rem;
$x-large-font: 1.25rem;
$large-font: 1.125rem;
$medium-font: 1rem;
$small-font: 0.875rem;
$x-small-font: 0.75rem;

$regular-font: 400;
$bold-font: 700;

//colores
$swamp: #001614;
$gray: #888;
$silver: #ccc;
$white: #fff;
$sky-blue: #79dee7;
$persimmon: #ff565b;

//breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;